<!doctype html>

<html>
  <head>
    <title>GitHub Markdown preview</title>
    <link href="{{ url_for('static', filename='github.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='showdown.js') }}"></script>
    <script src="{{ url_for('static', filename='highlight.js') }}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        var converter = new Showdown.converter();

        var get_file_and_update_preview = function(markdown_file_url) {
          $.get('preview?markdown=' + markdown_file_url, function(data) {
            //alert(data);
            var html = converter.makeHtml(data);
            $("#markdown-preview").html(html);
          });
        };

        var update_buttons = function(active_button) {
          $("#markdown_files a").removeClass("selected");
          active_button.addClass("selected");
        };

        $("#markdown_files").on("click", "a", function(e) {
          //alert($(this).attr('href'));
          get_file_and_update_preview($(this).attr('href'));
          update_buttons($(this));
          e.preventDefault();
        });

        setInterval(function() {
          var elem = $("a.selected");
          if (elem.length == 0) {
            return false;
          }
          get_file_and_update_preview(elem.html());
        }, 10000);

        $("#filelist_toggler").click(function() {
          var filelist = $("#markdown_files");
          filelist.fadeToggle('fast');
        });
      });
    </script>

  </head>
  <body>
    <div id="topbar">
      <h1>Github markdown preview</h1>
      <span id="filelist_toggler">
        Show/hide filelist
        <ul id="markdown_files">
          {% for file in file_list %}
          <li><a href="{{file}}" title="{{file}}">{{file}}</a></li>
          {% endfor %}
        </ul>
      </span>

    </div>
    <hr>

    <div id="content">
      <div id="markdown-preview" class="wikistyle content-body markdown-body">

      </div>
    </div>
  </body>
</html>
